---
sendgrid_apikey: !vault
|
{{ sendgrid_apikey_enc }}
pagerduty_apikey: !vault
|
{{ pagerduty_apikey_enc }}
deadmansnitch_apikey: !vault
|
{{ deadmansnitch_apikey_enc }}
pingdom_username: {{ pingdom_username }}
pingdom_password: !vault
|
{{ pingdom_password_enc }}
pingdom_apikey: !vault
|
{{ pingdom_apikey_enc }}
